Repository notleanbarba/itbank, pull requests merged in 2024-09, with the labels that each got.

#30 Give actions permissions
  .github/workflows/prevent_branch_split.yml
  .github/workflows/static_checks.yml
  tsconfig.tsbuildinfo
Labels: reformated

#31 Footer - Formulario Contacto added
  src/app/homebanking/Footer.tsx
  tsconfig.tsbuildinfo
Labels: reformated

#36 Sebastian
  src/app/homebanking/Footer.tsx
  tsconfig.tsbuildinfo
Labels: reformated

#42 Label PR on formatting
  .github/formatter.yml
  .github/workflows/static_checks.yml
Labels: enhancement

#47 Add LazyLoad for LoanSimulator & Generic LoadingAnimation component
  src/app/homebanking/prestamos/page.tsx
  src/components/LoadingAnimation.tsx
Labels: reformated

#56 agregado de tabla a pagos
  src/app/homebanking/pagos/page.tsx
Labels: reformated

#57 pagos por id
  src/app/homebanking/pagos/page.tsx
  src/components/Table.tsx
Labels: reformated

#58 Merge Sprint 3 (3.0.0)
  .eslintrc.json
  .github/formatter.yml
  .github/labeler.yml
  .github/workflows/delete_branch.yml
  .github/workflows/deploy-website.yml
  .github/workflows/hotfix_develop.yml
  .github/workflows/labeler.yml
  .github/workflows/prevent_branch_split.yml
  .github/workflows/static_checks.yml
  .gitignore
  .prettierrc
  .prettierrc.json
  404.html
  README.md
  eslint.config.js
  index.html
  next-sitemap.config.js
  next.config.mjs
  package-lock.json
  package.json
  public/facturas.json
  public/index.html
  public/robots.txt
  src/app/global.scss
  src/app/homebanking/Footer.tsx
  src/app/homebanking/Header.tsx
  src/app/homebanking/WithHeader.tsx
  src/app/homebanking/cuentas/ForexExchange.tsx
  src/app/homebanking/cuentas/page.tsx
  src/app/homebanking/inversiones/page.tsx
  src/app/homebanking/layout.tsx
  src/app/homebanking/pagos/factura.tsx
  src/app/homebanking/pagos/page.tsx
  src/app/homebanking/prestamos/LoanSimulator.tsx
  src/app/homebanking/prestamos/page.tsx
  src/app/homebanking/transferencias/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Cards.tsx
  src/components/ExchangeApi.tsx
  src/components/LoadingAnimation.tsx
  src/components/Table.tsx
  src/components/Toast.tsx
  src/types.d.ts
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Labels: release

#78 Develop
  package-lock.json
  package.json
  src/app/data/cliente.ts
  src/app/homebanking/Footer.tsx
  src/app/homebanking/Header.tsx
  src/app/homebanking/layout.tsx
  src/app/homebanking/page.tsx
  src/app/homebanking/tarjetas/page.tsx
  src/components/credito.tsx
  src/types.d.ts
Labels: release

#79 Implemented Transferencias feature
  package-lock.json
  package.json
  src/app/homebanking/layout.tsx
  src/app/homebanking/transferencias/[id]/page.tsx
  src/app/homebanking/transferencias/page.tsx
  src/components/transferComponents/AccountProvider.tsx
  src/components/transferComponents/BankAccountList.tsx
  src/components/transferComponents/RealTimeTransfer.tsx
  src/components/transferComponents/TransferAccountList.tsx
  src/components/transferComponents/TransferHistory.tsx
Labels: reformated

#80 footer arreglado
  public/sitemap-0.xml
  src/app/global.scss
  src/app/homebanking/Footer.tsx
  src/app/homebanking/page.tsx
Labels: reformated

#82 Add footer arreglado
  package-lock.json
  package.json
  public/sitemap-0.xml
  src/app/global.scss
  src/app/homebanking/Footer.tsx
  src/app/homebanking/layout.tsx
  src/app/homebanking/page.tsx
  src/app/homebanking/transferencias/[id]/page.tsx
  src/app/homebanking/transferencias/page.tsx
  src/components/transferComponents/AccountProvider.tsx
  src/components/transferComponents/BankAccountList.tsx
  src/components/transferComponents/RealTimeTransfer.tsx
  src/components/transferComponents/TransferAccountList.tsx
  src/components/transferComponents/TransferHistory.tsx
Labels: reformated, hotfix
